
.main {
  width: 20%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.btn:hover {
  background-color: aliceblue;
  transition: 0.2s ease-in;
  border-radius: 5px;
}

.footer {
	position: absolute;
	bottom: 0px;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
 	background-color: #343a40;
	text-align: center;
	color: white;
	margin: 0;	
}

@media screen and (max-width: 420px) {
  .main {
  	width: 80%;
  }
}